{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Havister - Pointnut</title>
{% endblock %}

{% block nav-title %}
<a class="mr-2 green" href="/"><i class="fas fa-chevron-left"></i></a>
<span>Havister</span>
{% endblock %}

{% block nav-link %}
  {% if user.is_active %}
    <a class="btn btn-success btn-xm" href="{% url 'users:index' user.username %}" role="button">{{ user.username|upper }}</a>
    {% else %}
    <a class="btn btn-success btn-xm" href="{% url 'login' %}" role="button">Login</a>
  {% endif %}
{% endblock %}

{% block header %}
<!-- Header -->
<header class="box">
  <div class="jumbotron text-center">
    <h1>Havister</h1>
  </div>
</header>
{% endblock %}

{% block main %}
{% endblock %}