{% extends "base.html" %}
{% load static %}

{% block title %}
<title>하비스터 - 포인트넛</title>
{% endblock %}

{% block nav-title %}
<a class="mr-2 green" href="/"><i class="fas fa-chevron-left"></i></a>
<span>Havister</span>
{% endblock %}

{% block header %}
<!-- Header -->
<header class="box">
  <div class="box-pad">
    <h1 class="mb-0">하비스터</h1>
  </div>
</header>
{% endblock %}

{% block main %}
<!-- Section -->
<section class="box">
  <img class="box-img" src="{% static 'images/havister_service-1911.jpg' %}" alt="Havister Service">
</section>
<section class="box">
  <img class="box-img" src="{% static 'images/havister_app-1911.jpg' %}" alt="Havister App">
</section>
{% endblock %}
