{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Players - Pointnut</title>
{% endblock %}

{% block nav-title %}
<a class="mr-2" href="/"><i class="fas fa-chevron-left"></i></a>
<span>Events</span>
{% endblock %}

{% block nav-link %}
{% endblock %}

{% block header %}
<!-- Header -->
<header class="box">
  <div class="jumbotron text-center">
    <h1>로봇 #하비스터 출시 이벤트</h1>
    <h4 class="mb-3 text-pink">재테크, 이제 로봇으로 하자!</h4>
    <p class="lead">로봇으로 모의 계좌를 운영해 보세요. 수익이 나면 현금을 지급합니다.</p>
    <span class="text-muted">2019년 10월 ~ 12월</span>
  </div>
</header>
{% endblock %}

{% block main %}
<!-- Section -->
<section class="box-pad">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="d-flex justify-content-between my-2">
        <h3>이벤트 신청</h3>
        <p class="h5"><span class="badge badge-green badge-pill">STEP 1</span></p>
      </div>
      <p><span class="text-pink">신청 양식</span>을 작성해 주세요.
        신청 양식은 이벤트 참여자를 추첨하고 발표하기 위해 사용됩니다.
        양식이 작성되면 신청이 완료됩니다.
      </p>
    </li>
    <li class="list-group-item">
      <div class="d-flex justify-content-between my-2">
        <h3>참여자 발표</h3>
        <p class="h5"><span class="badge badge-green badge-pill">STEP 2</span></p>
      </div>
      <p><span class="text-pink">매월 10명</span>을 추첨하여 발표합니다.
        이벤트 추첨은 당사의 내부 규정에 따라 진행되며, <span class="text-pink">매월 20일</span> 참여자를 발표합니다.
        개별 연락이 진행되며, 웹사이트에서 확인할 수 있습니다.
      </p>
    </li>
    <li class="list-group-item">
      <div class="d-flex justify-content-between my-2">
        <h3>모의계좌 개설</h3>
        <p class="h5"><span class="badge badge-green badge-pill">STEP 3</span></p>
      </div>
      <p><span class="text-pink">증권사</span>의 모의 계좌를 개설합니다.
        모의 계좌를 이용하면 <span class="text-pink">가상의 투자금</span>으로 위험없이 하비스터를 경험할 수 있습니다.
        이벤트에서는 (주)이베스트증권의 계좌를 사용합니다.
      </p>
    </li>
    <li class="list-group-item">
      <div class="d-flex justify-content-between my-2">
        <h3>하비스터 운영</h3>
        <p class="h5"><span class="badge badge-green badge-pill">STEP 4</span></p>
      </div>
      <p>하비스터는 자동화된 금융 트레이딩 <span class="text-pink">로봇</span>입니다.
        아마존 클라우드 서버에 설치되어, 국내 금융시장에 365일 자동으로 참여합니다.
        설치와 운영에 필요한 <span class="text-pink">교육</span>을 위해 본사 내방이 필요합니다.
      </p>
    </li>
    <li class="list-group-item">
      <div class="d-flex justify-content-between my-2">
        <h3>후기 올리기</h3>
        <p class="h5"><span class="badge badge-green badge-pill">STEP 5</span></p>
      </div>
      <p>하비스터를 운영하면 <span class="text-pink">수익</span>이 발생합니다.
        수익이 발생하면 <span class="text-pink">블로그</span>나 <span class="text-pink">SNS</span>에 로봇 사용 후기를 올려야 합니다.
        참여자 모두 수익도 얻고 재미있는 후기도 남기시기 바랍니다.
      </p>
    </li>
    <li class="list-group-item">
      <div class="d-flex justify-content-between my-2">
        <h3>수익금 받기</h3>
        <p class="h5"><span class="badge badge-green badge-pill">STEP 6</span></p>
      </div>
      <p><span class="text-pink">1인</span> 당
        <span class="text-pink">최대 100만원</span>의 수익금을 받을 수 있습니다.
        관련 법에 따라 이벤트 수익금이 5만원을 초과할 경우,
        제세 공과금(22%)를 제외 한 금액을 일시 또는 분할하여 지급합니다.
      </p>
    </li>
  </ul>
</section>

<!-- Section -->
<section class="box">
  <div class="jumbotron bg-cyan text-center text-white">
    <h1>"인스타 리그램"</h1>
    <p class="lead text-yellow">리그램 이벤트 참여만 해도 추첨 후 기프트콘 증정!!</p>
    <p class="mb-0">포인트넛의 이벤트 페이지를 필수 해시태그와 함께 인스타그램에 리그램 후 댓글 남기자~~</p>
    <p class="text-yellow">
      <span class="mr-2">#포인트넛</span>
      <span class="mr-2">#하비스터</span>
      <span class="mr-2">#로봇하비스터</span>
      <span>#로봇재테크</span>
    </p>
    <p>베스킨라빈스 파인트 기프트콘 100명 (추첨 증정)</p>
    <a class="btn btn-yellow px-4" href="" role="button">포인트넛 인스타그램</a>
  </div>
</section>
{% endblock %}