{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Events - Pointnut</title>
{% endblock %}

{% block nav-title %}
<a class="mr-2 green" href="/"><i class="fas fa-chevron-left"></i></a>
<span>Events</span>
{% endblock %}

{% block header %}
<!-- Header -->
<header class="box">
  <img class="box-img" src="{% static 'images/events/launch.jpg' %}" alt="Launch Poster">
</header>
{% endblock %}

{% block main %}
<!-- Section -->
<section class="box-pad">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="d-flex justify-content-between my-2">
        <h3>이벤트 신청</h3>
        <p class="h5"><span class="badge badge-orange badge-pill">STEP 1</span></p>
      </div>
      <p><strong class="text-orange">신청 양식</strong>을 작성해 주세요.
        신청 양식은 이벤트 참여자를 추첨하고 발표하기 위해 사용됩니다.
        양식이 작성되면 신청이 완료됩니다.</p>
      <p><a class="btn btn-success px-4" href="{% url 'events:launch' %}" role="button">이벤트 신청하기</a></p>
    </li>
    <li class="list-group-item">
      <div class="d-flex justify-content-between my-2">
        <h3>참여자 발표</h3>
        <p class="h5"><span class="badge badge-orange badge-pill">STEP 2</span></p>
      </div>
      <p><strong class="text-orange">매월 10명</strong>을 추첨하여 발표합니다.
        이벤트 추첨은 당사의 내부 규정에 따라 진행되며, <strong class="text-orange">매월 20일</strong> 참여자를 발표합니다.
        개별 연락이 진행되며, 웹사이트에서 확인할 수 있습니다.</p>
      <p><a class="btn btn-secondary px-4 disabled" href="#" role="button">10월 참여자 보기</a></p>
    </li>
    <li class="list-group-item">
      <div class="d-flex justify-content-between my-2">
        <h3>모의계좌 개설</h3>
        <p class="h5"><span class="badge badge-orange badge-pill">STEP 3</span></p>
      </div>
      <p><strong class="text-orange">증권사</strong>의 모의 계좌를 개설합니다.
        모의 계좌를 이용하면 <strong class="text-orange">가상의 투자금</strong>으로 위험없이 하비스터를 경험할 수 있습니다.
        이벤트에서는 (주)이베스트증권의 계좌를 사용합니다.
      </p>
    </li>
    <li class="list-group-item">
      <div class="d-flex justify-content-between my-2">
        <h3>하비스터 운영</h3>
        <p class="h5"><span class="badge badge-orange badge-pill">STEP 4</span></p>
      </div>
      <p>하비스터는 자동화된 금융 트레이딩 <strong class="text-orange">로봇</strong>입니다.
        아마존 클라우드 서버에 설치되어, 국내 금융시장에 365일 자동으로 참여합니다.
        설치와 운영에 필요한 <strong class="text-orange">교육</strong>을 위해 본사 내방이 필요합니다.
      </p>
    </li>
    <li class="list-group-item">
      <div class="d-flex justify-content-between my-2">
        <h3>후기 올리기</h3>
        <p class="h5"><span class="badge badge-orange badge-pill">STEP 5</span></p>
      </div>
      <p>하비스터를 운영하면 <strong class="text-orange">수익</strong>이 발생합니다.
        수익이 발생하면 <strong class="text-orange">블로그</strong>나 <strong class="text-orange">SNS</strong>에 로봇 사용 후기를 올려야 합니다.
        참여자 모두 수익도 얻고 재미있는 후기도 남기시기 바랍니다.
      </p>
    </li>
    <li class="list-group-item">
      <div class="d-flex justify-content-between my-2">
        <h3>수익금 받기</h3>
        <p class="h5"><span class="badge badge-orange badge-pill">STEP 6</span></p>
      </div>
      <p><strong class="text-orange">1인</strong> 당
        <strong class="text-orange">최대 100만원</strong>의 수익금을 받을 수 있습니다.
        관련 법에 따라 이벤트 수익금이 5만원을 초과할 경우,
        제세 공과금(22%)를 제외 한 금액을 일시 또는 분할하여 지급합니다.
      </p>
    </li>
  </ul>
</section>
{% endblock %}
