{% extends "base.html" %}
{% load static %}

{% block title %}
<title>교육 - 이벤트 - 포인트넛</title>
{% endblock %}

{% block nav-title %}
<a class="mr-2 green" href="{% url 'events:study' %}"><i class="fas fa-chevron-left"></i></a>
<span>Events</span>
{% endblock %}

{% block nav-link %}
{% endblock %}

{% block header %}
<!-- Header -->
<header class="box">
  <div class="box-pad">
    <h1 class="mb-0">교육 이벤트</h1>
  </div>
</header>
{% endblock %}

{% block main %}
<!-- Section -->
<section class="box-pad">
  <div class="my-2">
    <h2>Thanks!</h2>
    <p>이벤트 신청이 완료되었습니다.<br>신청된 순서에 따라 개별 연락이 진행되고, 교육 일정이 확정됩니다.</p>
    <a class="btn btn-success px-4" href="{% url 'events:study' %}" role="button">확인</a>
  </div>
</section>
{% endblock %}
