{% extends "base.html" %}
{% load static %}

{% block title %}
<title>교육 - 이벤트 - 포인트넛</title>
{% endblock %}

{% block nav-title %}
<a class="mr-2 green" href="/"><i class="fas fa-chevron-left"></i></a>
<span>Events</span>
{% endblock %}

{% block header %}
<!-- Header -->
<header class="box">
  <div class="box-pad">
    <h1 class="mb-0">교육 이벤트</h1>
  </div>
</header>
{% endblock %}

{% block main %}
<!-- Section -->
<section class="box-pad">
  <img class="box-img" src="{% static 'images/events/study.jpg' %}" alt="Study Poster">
</section>
<!-- Section -->
<section class="box-pad">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="my-2"></div>
        <h3>이벤트 신청</h3>
      </div>
      <p><strong class="text-orange">신청 양식</strong>을 작성해 주세요.
        신청 양식은 이벤트 참여자를 추첨하고 발표하기 위해 사용됩니다.
        양식이 작성되면 신청이 완료됩니다.</p>
        <p><a class="btn btn-success px-4" href="{% url 'events:study_apply' %}" role="button">신청하기</a></p>
    </li>
  </ul>
</section>
{% endblock %}
