{% extends "user_base.html" %}
{% load static %}

{% block title %}
<title>{{ user.username|upper }} - Settings | Pointnut</title>
{% endblock %}

{% block nav-title %}
<a class="mr-2 green" href="{% url 'users:index' %}"><i class="fas fa-chevron-left"></i></a>
<span>Settings</span>
{% endblock %}

{% block header %}
<!-- Header -->
<header class="box">
  <div class="box-pad">
    <h1>패스워드 변경</h1>
    <p class="mb-0">보안을 위해 패스워드를 입력한 다음 새 패스워드를 두 번 입력하여 올바르게 작성했는지 확인하십시오.</p>
  </div>
</header>
{% endblock %}

{% block main %}
<!-- Section -->
<section class="box-pad">
  <div class="card mb-0">
    <div class="card-body">
      <!-- Form -->
      <form class="needs-validation" method="post" novalidate>
        {% csrf_token %}
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="{{ form.old_password.id_for_label }}"><strong>패스워드</strong></label>
          <div class="col-sm-8">
            <input class="form-control" type="password" name="{{ form.old_password.html_name }}" id="{{ form.old_password.id_for_label }}" maxlength="120" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="{{ form.new_password1.id_for_label }}"><strong>새 패스워드</strong></label>
          <div class="col-sm-8">
            <input class="form-control" type="password" name="{{ form.new_password1.html_name }}" id="{{ form.new_password1.id_for_label }}" maxlength="120" required>
            <ul class="list-unstyled mt-2 mb-0 small">
              <li class="text-muted">패스워드는 다른 개인 정보와 너무 유사할 수 없습니다.</li>
              <li class="text-muted">패스워드는 8자 이상이어야 합니다.</li>
              <li class="text-muted">패스워드는 일반적으로 사용되는 패스워드가 될 수 없습니다.</li>
              <li class="text-muted">패스워드는 완전히 숫자일 수 없습니다.</li>
            </ul>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="{{ form.new_password2.id_for_label }}"><strong>패스워드 확인</strong></label>
          <div class="col-sm-8">
            <input class="form-control" type="password" name="{{ form.new_password2.html_name }}" id="{{ form.new_password2.id_for_label }}" maxlength="120" required>
          </div>
        </div>
        <hr>
        <div class="form-group row mb-0">
          <div class="col-sm-4">
            <button type="submit" class="btn btn-success py-2 px-4">패스워드 변경</button>
          </div>
          <div class="col-sm-8"></div>
        </div>
      </form>
    </div>
    {% if form.errors %}
    <div class="card-footer">
      <small class="text-danger">패스워드를 변경할 수 없습니다. 양식을 올바르게 작성했는지 확인하십시오.</small>
    </div>
    {% endif %}
  </div>
</section>
{% endblock %}

{% block script %}
<script src="{% static 'js/validation.js' %}"></script>
{% endblock %}
