{% extends "base.html" %}
{% load static %}

{% block title %}
<title>매매전략 - 포인트넛</title>
{% endblock %}

{% block nav-title %}
<a class="mr-2 green" href="/"><i class="fas fa-chevron-left"></i></a>
<span>Strategies</span>
{% endblock %}

{% block header %}
<!-- Header -->
<header class="box">
    <div class="box-pad">
      <h1 class="mb-0">매매 전략</h1>
    </div>
  </header>
{% endblock %}

{% block main %}
<!-- Section -->
<section class="box">
  <img class="box-img" src="{% static 'images/strategy_run-1911.jpg' %}" alt="Strategy Run">
</section>
{% endblock %}
