{% extends "user_base.html" %}
{% load extras %}

{% block title %}
<title>Trades - POINTNUT | 포인트넛</title>
{% endblock %}

{% block nav-title %}
<a class="mr-2 green" href="{% url 'users:index' %}"><i class="fas fa-chevron-left"></i></a>
<span>Trades</span>
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<!-- Section -->
<section class="box text-kr">
  <div class="box-pad d-flex align-items-center">
    <h1 class="my-1 mr-auto">청산 거래</h1>
    <p class="my-1 h2 text-darkgray">{{ trade_list.count }}건</p>
  </div>
  <!-- Section Body -->
  {% if trade_list %}
  <div class="box">
    {% for trade in trade_list %}
    <div class="box-pad d-flex align-items-center border-top">
      <div class="d-none d-sm-block w-25 text-center pr-3">
        <p class="h3 font-weight-normal text-darkgray">{{ forloop.counter }}</p>
      </div>
      <div class="box flex-grow-1">
        <div class="d-flex align-items-center">
          <h5 class="mr-auto">{{ trade.signal.asset|upper }}</h5>
          <p class="h5 {{ trade.change|change_class }}">
            <span>{{ trade.change|stringformat:"+0.2f" }}%</span>
          </p>
        </div>
        <div class="d-flex">
          <p class="mb-0 small text-muted mr-auto">
            <span>{{ trade.date_opened|date:'Y.m.d' }}</span>
            <span>~</span>
            <span>{{ trade.date_closed|date:'Y.m.d' }}</span>
          </p>
          <p class="mb-0 small text-muted">
            <span>{{ trade.signal.strategy }}</span> /
            <span>{{ trade.position }}</span>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="box-pad">
    <p>거래 기록이 없습니다.</p>
  </div>
  {% endif %}
</section>

{% endblock %}
