{% extends "user_base.html" %}
{% load humanize %}
{% load extras %}

{% block title %}
<title>{{ user.username|upper }} - Signal - 포인트넛 | POINTNUT</title>
{% endblock %}

{% block nav-title %}
<a class="mr-2 green" href="{% url 'users:index' %}"><i class="fas fa-chevron-left"></i></a>
<span>Signal</span>
{% endblock %}

{% block header %}
<!-- Header -->
<header class="box text-kr">
  <div class="box-pad d-flex justify-content-between align-items-center">
    <h1 class="my-1">시그널</h1>
    <a class="btn btn-success" href="{% url 'users:signal_add' %}" role="button">시그널 추가</a>
  </div>
</header>
{% endblock %}

{% block main %}
<!-- Section -->
{% if user.account.has_havister %}

{% if play_list %}
{% for play in play_list %}
<!-- Signal -->
<section class="box-pad text-kr">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h4 class="mb-0">{{ play.signal.strategy }}</h4>
      <a class="card-link h4 mb-0 green" href="{% url 'users:signal_detail' play.signal.pk %}"><i class="fas fa-chevron-right"></i></a>
    </div>
    <div class="card-body">
      <div class="card-text d-flex justify-content-between align-items-center">
        <h4 class="card-title mb-0 font-weight-bold">{{ play.signal.asset }}</h4>
        <p class="h5 mb-0 text-muted">{{ play.signal.total_amount|intcomma }}원</h4>
      </div>
      <hr>
      <p class="card-text d-flex justify-content-between">
        <span>Long</span>
        <strong>{{ play.signal.long_item }}</strong>
      </p>
      <p class="card-text d-flex justify-content-between">
        <span>Short</span>
        {% if play.signal.short_item %}
        <strong>{{ play.signal.short_item }}</strong>
        {% else %}
        <span>없음</span>
        {% endif %}
      </p>
      <hr>
      <p class="card-text">
        <small class="text-muted">{{ play.date_bound|date:'Y-m-d' }} 추가</small>
      </p>
    </div>
  </div>
</section>
{% endfor %}
{% else %}
<section class="box text-kr">
  <div class="box-pad">
    <span>보유 시그널이 없습니다.</span>
  </div>
</section>
{% endif %}

{% else %}
<section class="box text-kr">
  <div class="box-pad">
    <span class="text-danger">하비스터 사용 권한이 필요합니다.</span>
  </div>
</section>
{% endif %}
{% endblock %}
