{% extends "user_base.html" %}

{% block title %}
<title>Strategy - POINTNUT | 포인트넛</title>
{% endblock %}

{% block nav-title %}
<a class="mr-2 green" href="{% url 'users:index' %}"><i class="fas fa-chevron-left"></i></a>
<span>Strategy</span>
{% endblock %}

{% block header %}
<!-- Header -->
<header class="box text-kr">
  <div class="box-pad d-flex justify-content-between align-items-center">
    <h1 class="my-1">전략</h1>
    <a class="btn btn-success" href="{% url 'users:strategy_add' %}" role="button">전략 추가</a>
  </div>
</header>
{% endblock %}

{% block main %}
<!-- Section -->
{% if user.account.has_havister %}

{% if shopping_list %}
{% for shopping in shopping_list %}
<!-- Strategy -->
<section class="box-pad text-kr">
  <div class="card">
    <h4 class="card-header">{{ shopping.strategy }}</h4>
    <div class="card-body">
      <p class="card-text">
        <small class="text-muted">{{ shopping.strategy.summary|linebreaksbr }}</small>
      </p>
      <hr>
      <p class="card-text d-flex justify-content-between">
        <span>Long Positions</span>
        <span>최대 {{ shopping.strategy.long_positions }}</span>
      </p>
      <p class="card-text d-flex justify-content-between">
        <span>Short Positions</span>
        <span>최대 {{ shopping.strategy.short_positions }}</span>
      </p>
      <hr>
      <p class="card-text">
        <small class="text-muted">{{ shopping.date_bound|date:'Y-m-d' }} 추가</small>
      </p>
    </div>
  </div>
</section>
{% endfor %}
{% else %}
<section class="box text-kr">
  <div class="box-pad">
    <span>보유 전략이 없습니다.</span>
  </div>
</section>
{% endif %}

{% else %}
<section class="box text-kr">
  <div class="box-pad">
    <span class="text-danger">하비스터 사용 권한이 필요합니다.</span>
  </div>
</section>
{% endif %}
{% endblock %}
