{% load static %}
<!DOCTYPE html>

<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pointnut</title>
  <link rel="icon" href="{% static 'favicon.ico' %}">
  <style>
    body {background-color:white;}
    main {margin-top:8rem; text-align: center;}
    h1,h2,p {margin: .5rem 0;}
    h2 {color:#909090;}
  </style>
</head>

<body>
<main>
  <h1>404</h1>
  <h2>Page Not Found</h2>
  <p><small>페이지를 찾을 수 없습니다.</small></p>
  <p><small><a href="/">POINTNUT</a><small></p>
</main>

</body>
</html>