{% extends "base.html" %}

{% block nav-link %}
<div class="dropdown">
  <button class="btn btn-outline-success btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Service
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url 'users:index' %}">{{ user.username|upper }}</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'users:signal' %}">Signal</a>
    <a class="dropdown-item" href="{% url 'users:havister' %}">Havister</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'users:trades_closed' %}">청산 거래</a>
    <a class="dropdown-item" href="{% url 'users:trades_opened' %}">진입 거래</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'password_change' %}">Settings</a>
    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
  </div>
</div>
{% endblock %}
